name: Build Windows EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        pip install pyinstaller

    - name: Build EXE
      run: |
        pyinstaller --onefile --windowed main.py

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: windows-exe
        path: dist/main.exe
